.box #imgs1 {
    background-image: url(../image/cover/alexandra-daddario.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #imgs2 {
    background-image: url(../image/cover/Alison-Brie.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #imgs3 {
    background-image: url(../image/cover/amber-heard.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #imgs4 {
    background-image: url(../image/cover/angelina-jolie.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #imgs5 {
    background-image: url(../image/cover/anna-de-armas.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #imgs6 {
    background-image: url(../image/cover/anne-hathaway.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #imgs7 {
    background-image: url(../image/cover/barbara-palvin.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #imgs8 {
    background-image: url(../image/cover/cara-delevingne.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #imgs9 {
    background-image: url(../image/cover/cobie-smulders.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #imgs10 {
    background-image: url(../image/cover/dakota-fanning.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #imgs11 {
    background-image: url(../image/cover/elle-fanning.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #imgs12 {
    background-image: url(../image/cover/emilia-clarke.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #imgs13 {
    background-image: url(../image/cover/emma-roberts.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #imgs14 {
    background-image: url(../image/cover/emma-watson.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #imgs15 {
    background-image: url(../image/cover/gal-gadot.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #imgs16 {
    background-image: url(../image/cover/jennifer-lawrence.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #imgs17 {
    background-image: url(../image/cover/kristen-stewart.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #imgs18 {
    background-image: url(../image/cover/lily-colins.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #imgs19 {
    background-image: url(../image/cover/margot-robbie.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #imgs20 {
    background-image: url(../image/cover/megan-fox.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #imgs21 {
    background-image: url(../image/cover/naomi-scott.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #imgs22 {
    background-image: url(../image/cover/natalie-portman.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #imgs23 {
    background-image: url(../image/cover/olga-kurylenko.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #imgs24 {
    background-image: url(../image/cover/samara-weaving.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #imgs25 {
    background-image: url(../image/cover/taylor-hill.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #imgs26 {
    background-image: url(../image/cover/chloe-bennet.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #imgs27 {
    background-image: url(../image/cover/chloe-grace.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #imgs28 {
    background-image: url(../image/cover/Elyse-Levesque.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #imgs29 {
    background-image: url(../image/cover/jessica-alba.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #imgs30 {
    background-image: url(../image/cover/kate-upton.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #imgs31 {
    background-image: url(../image/cover/kate-winslet.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #imgs32 {
    background-image: url(../image/cover/kaya-scodelario.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #imgs33 {
    background-image: url(../image/cover/mila-kunis.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #imgs34 {
    background-image: url(../image/cover/Sarah-Bolger.jpg);
    background-position-x: center;
    background-position-y: center;
}