*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main {
    width: 100%;
    /* height: 100%; */
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding-bottom: 50px;
}
.main .box {
    width: 200px;
    height: 200px;
    background-color: coral;
    margin: 0;
    overflow: hidden;
}
.main a .box img {
    width: 200px;
    object-fit: cover;
    transition: 0.2s linear;
    
}
.main a .box:hover img {
    transform: scale(1.2);
}
