* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    width: 100%;
    height: 100%;
    background-color: rgb(224, 224, 224);
    /* background: linear-gradient(90deg, #833ab4, #fd1d1d, #fcb045); */
    /* background: url(../background.jpg); */
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    


}

.overlay {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    z-index: 0;
}

.container {
    width: 1300px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    transform: translate(0 -50%);
    margin-left: 90px;
    margin-right: 90px;
}

.box {
    width: 200px;
    height: 300px;
    background-color: cornsilk;
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 50px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 10px 0px 10px 0px;
}

.hov {
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #ee0979, #ff6a00);
    position: absolute;
    z-index: 2;
    bottom: -100%;
    transition: all .4s;
}

.box:hover .hov {
    bottom: 0;
}

.img {
    width: 90%;
    height: 90%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 3;
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 10px 0px 10px 0px;
}

h5 {
    color: black;
    font-size: 15px;
    text-transform: uppercase;
    position: absolute;
    top: 200px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    visibility: hidden;
    /* text-shadow: 2px 2px 2px 2px black; */
    transition: all 0.01s;


}

.box:hover h5 {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px black;
    visibility: visible;
}

.footer {
    width: 100%;
    height: 70px;
    background: rgba(255, 0, 0, 0);

    
}

@media all and (max-width: 375px) {
    .container {
        margin: 0;
    }
  .box {
    width: 150px;
    height: 225px;
  }
h5 {
    top: 150px;
}
}






